 #map {
    height: 100%;
    }

 
.favorite_star {
 	cursor: pointer;
 	color: red;
 }

 .favorite_star.favorited {
 	cursor: pointer;
 	color: green;
 }

 .favorite-graph {
 	margin-left: auto;
 	margin-right: auto;
 }

 .chart-legend li span {
 	display: inline-block;
 	width: 12px;
 	height: 12px;
 	margin-right: 5px;
 }