{% extends 'base.html' %}

{% block title %}Selection of art{% endblock %}
{% block heading %}Selection of art{% endblock %}

{% block content %}
  <div class="row">
  {% for genre in genres%}
    <div class="col-xs-12 col-s-12 col-lg-12">
      <div class="image">
        <a href="/itinerary/{{genre.genre_code}}" >
          <img class="image" id="{{ genre.genre_code }}" src="{{ genre.img_url }}" height="250" width="250">
        </a>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}