{% extends 'base.html' %}

{% block title %}Selection of art{% endblock %}
{% block heading %}Follow Your Tastes{% endblock %}

{% block content %}
<center><h2>Choose an image...</h2></center>
  <div class="art_images">
  {% for genre in genres%}
      <div class="art">
        <a href="/itinerary/{{ genre.genre_code }}" >
          <img class="artwork" id="{{ genre.genre_code }}" src="{{ genre.img_url }}" height="250" width="250">
        </a>
      </div>
  {% endfor %}
  </div>

{% endblock %}