<html>
<head>
  <title>{% block title %}TITLE HERE{% endblock %}</title>
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
  <link rel="stylesheet"
        href="/static/css/page.css"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>

<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav>
</div>

</head>

<body>

<div class="container">
  <header>
    <div class="row">
      <div class="col-xs-12">
        <a href="/">
          <img id="logo" src="">
          <span id="tagline"><h2>Artsy Trips. Follow Your Tastes.</h2></span><br>
          <a href="/logout"><h2>Logout</h2></a><br>
      </div>
    </div>
  </header>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert alert-warning text-center">{{ message }}</div>
    {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  <div class="row">
    <div class="col-xs-12 text-center page-title">
      <h1>{% block heading %}HEADING FOR PAGE{% endblock %}</h1>
    </div>
  </div>

  {% block content %}
    BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

  <footer>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>&copy; 2017 Artsy Trips, Inc.</p>
      </div>
    </div>
  </footer>

</div>

</body>
</html>
