<html>
<head>
  <title>{% block title %}TITLE HERE{% endblock %}</title>
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet"
        href="/static/css/page.css"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Bellefair|Ubuntu:700">
    
  {% if "user_id" in session %}
      <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Artsy Trips</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/users/{{ session["user_id"] }}">My Profile Page</a>
                  </li>
                  <li><a href="/images">Plan a Trip</a></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
          </div>
        </div>
      </div>
  {% else %}
      <div class="navbar navbar-inverse style='background-color: #e3f2fd;'">
        <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Artsy Trips</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/images">Plan a Trip</a></li>
                  <li><a href="/login">Log In</a></li>
              </ul>
          </div>
        </div>
      </div>
  {% endif %}
  
</head>

<body>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert alert-warning text-center">{{ message }}</div>
    {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  <div class="row">
    <div class="col-xs-12 text-center page-title">
      <h1>{% block heading %}HEADING FOR PAGE{% endblock %}</h1>
    </div>
  </div>

   
  {% block content %}
    BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %} 

</body>
</html>
