{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
{% block heading %}Artsy Trips{% endblock %}
{% block head %}
<style>
  body {
    background-image: url("https://ka-perseus-images.s3.amazonaws.com/6a6151155fbde50cec7b9616661c1448d3374fa7.jpg")
  }
</style>
{% endblock %}

{% block content %}


{% if 'user_id' in session %}
   <center><h2>Welcome back to Artsy Trips!</h2></center>

  <div class="favorite-graph">
    <h2><center>Users' Favorited Genres</center></h2>
    <canvas id="barChart"></canvas>
    </label>
  </div>

   <script>
    var options = {
      responsive: true
    };

    // Make bar chart of number of favorited art genres among users.
    var ctx_bar = $("#barChart").get(0).getContext("2d");

    $.get("/favorite_genres.json", function (data) {
        console.log("Test");
      var myBarChart = new Chart(ctx_bar, {
                                              type: 'bar',

                                              data: data,

                                              options: {

                                                responsive: true, 
                                              
                                                legend: {

                                                  display: false,

                                                  label: {
                                                    
                                                    fontColor: 'rgb(255, 99, 132)'

                                                  }

                                                }   
                                                 
                                              }
                                            });
      console.log(myBarChart.generateLegend());
      console.log(data);
    });

  </script>

{% else %}
    <br><br>
    <center>
    <div class="well spaced" style="width:40%;">
    <div>
        <h1>Register</h1>
        <form action="/register" method="POST">

            <div class="form-group">
                <label>Name:
                    <input type="name" name="name" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label>Email:
                    <input type="email" name="email" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label>Password:
                    <input type="password" name="password" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Follow Your Tastes!" class="btn btn-danger">
            </div>
        </form>
    </div>
    </div>
  </center>

  <div class="favorite-graph">
    <h2><center>Users' Favorited Genres</center></h2>
    <canvas id="barChart"></canvas>
    </label>
  </div>

  <script>
    var options = {
      responsive: true
    };

    // Make bar chart of number of favorited art genres among users.
    var ctx_bar = $("#barChart").get(0).getContext("2d");

    $.get("/favorite_genres.json", function (data) {
        console.log("Test");
      var myBarChart = new Chart(ctx_bar, {
                                              type: 'bar',

                                              data: data,

                                              options: {

                                                responsive: true, 
                                              
                                                legend: {

                                                  display: false,

                                                  label: {
                                                    
                                                    fontColor: 'rgb(255, 99, 132)'

                                                  }

                                                }   
                                                 
                                              }
                                            });
      console.log(myBarChart.generateLegend());
      console.log(data);
    });

  </script>


{% endif %}    

{% endblock %}