{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
{% block heading %}Artsy Trips{% endblock %}

{% block content %}

{% if 'user_id' in session %}
    <h2>Welcome back to Artsy Trips!</h2>
    <a href="/images">Plan a trip</a>

{% else %}

    <a href="/login">Login</a><br>
    
    <div class="well spaced" style="width:40%;">
    <div>
        <h1>Register</h1>
        <form action="/register" method="POST">

            <div class="form-group">
                <label>Name:
                    <input type="name" name="name" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label>Email:
                    <input type="email" name="email" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label>Password:
                    <input type="password" name="password" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Follow Your Tastes!" class="btn btn-danger">
            </div>

        </form>
    </div>
    </div>

{% endif %}    

{% endblock %}