{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
{% block heading %}Artsy Trips{% endblock %}

{% block content %}

 <div class="favorite-graph">
    <canvas id="barChart"></canvas>
    <div id="barLegend" class="chart-legend"></div>
  </div>

  <script>
    var options = {
      responsive: true
    };

    // Make Donut Chart of percent of different types of Melons
    var ctx_bar = $("#barChart").get(0).getContext("2d");

    $.get("/favorite_genres.json", function (data) {
        console.log("Test");
      var myBarChart = new Chart(ctx_bar, {
                                              type: 'bar',
                                              data: data,
                                              options: options
                                            });
      $('#barLegend').html(myBarChart.generateLegend());
    });


  </script>

{% if 'user_id' in session %}
    <h2>Welcome back to Artsy Trips!</h2>
    <a href="/images">Plan a trip</a>

    <h2> Artsy Trips Users' Favorites </h2>

  <div class="user-chart">
    <canvas id="barChart"></canvas>
    <div id="barLegend" class="chart-legend"></div>
  </div>


  <script>
    var options = {
      responsive: true
    };

    // Make bar chart of percentage of different genres favorited.
    var ctx_bar = $("#barChart").get(0).getContext("2d");

    $.get("/genre-names.json", function (data) {
      var myBarChart = new Chart(ctx_bar, {
                                              type: 'bar',
                                              data: data,
                                              options: options
                                            });
      $('#barLegend').html(myBarChart.generateLegend());
    });

  </script>

{% else %}


<!-- 
    <h2> Artsy Trips Users' Favorites </h2>

      <div class="user-chart">
        <canvas id="barChart"></canvas>
        <div id="barLegend" class="chart-legend"></div>s
      </div>

      <div class="user-chart">
        <canvas id="lineChart"></canvas>
        <div id="lineLegend" class="chart-legend"></div>
      </div>

      <script>
        var options = {
          responsive: true
        };

        // Make bar chart of percentage of different genres favorited.
        var ctx_bar = $("#barChart").get(0).getContext("2d");

        $.get("/genre-names.json", function (data) {
          var myBarChart = new Chart(ctx_bar, {
                                                  type: 'bar',
                                                  data: data,
                                                  options: options
                                                });
          $('#barLegend').html(myBarChart.generateLegend());
        });

      </script>
 -->
    <a href="/login">Login</a><br>
    
    <div class="well spaced" style="width:40%;">
    <div>
        <h1>Register</h1>
        <form action="/register" method="POST">

            <div class="form-group">
                <label>Name:
                    <input type="name" name="name" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label>Email:
                    <input type="email" name="email" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label>Password:
                    <input type="password" name="password" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Follow Your Tastes!" class="btn btn-danger">
            </div>

        </form>
    </div>
    </div>

{% endif %}    

{% endblock %}