{% extends 'base.html' %}

{% block title %}Itinerary{% endblock %}
{% block heading %}Itinerary{% endblock %}

{% block content %}
  
  Why don't you visit this museum:<br><br>

  {{ museum.name }}<br>
  {{ museum.address1 }}<br>
  {{ museum.address2 }}<br>
  <img class="image" id="museum_image" src="{{ museum.image }}" height="250" width="250">}<br><br>

  and this eatery:<br><br>

  {{ restaurant_name }}<br>
  {{ restaurant_location1 }}<br>
  {{ restaurant_location2 }}<br>
  <img class="image" id="{{ restaurant_image }}" src="{{ restaurant_image }}" height="250" width="250"><br><br>

  Tell us where you are and we can make you a map:<br>
  <form action='/map/{{ trip.trip_id }}' method="POST">
        <div class="form-group">
          <label>Your location address:
            <input type="text" name="user_location" required class="form-control">
          </label>
        </div>

        <div class="form-group">
          <input type="submit" value="Get a map and directions" class="btn btn-danger">
        </div>
  </form><br>
  <a href='/images'>Plan another trip</a><br>
  <a href='/users/{{ trip.user_id }}'>See your saved trips</a>

{% endblock %}