{% extends 'base.html' %}

{% block title %}User profile{% endblock %}
{% block heading %}Your profile{% endblock %}
    

{% block content %}

Profile

<h2>Your Information</h2><br>
Name: {{ user.name }}<br>
Email: {{ user.email }}<br>

<div class="comparative-favorite-graph">
    <h2><center>Your Favorites and Others' Favorites</center></h2>
    <canvas id="radarChart"></canvas>
  </div>

  <script>
    var options = {
      responsive: true
    };

    // Make bar chart of number of favorited art genres among users.
    var ctx_bar = $("#radarChart").get(0).getContext("2d");

    $.get("/users/comparative_favorite_genres.json", function (data) {
        console.log("Test");
      var myRadarChart = new Chart(ctx_bar, {
                                              type: 'radar',

                                              data: data,

                                              options: {
                                                  
                                                  scale: {
        
                                                  display: true
                                                  
                                                  },

                                                  ticks: {
                                                  
                                                    beginAtZero: true,
                                                  
                                                  },  



                                              }
                                              
                                            });
      console.log(data);
    });

  </script>

<h2>Trips</h2>
<ul>
 	{% for trip in trips %}
    {% if trip.favorited == False %}
      <li><button type="button" id="{{ trip.trip_id }}" class="favorite_star" data-trip-id="{{ trip.trip_id }}">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite
      </button> {{ trip.museum.name }}, {{ trip.restaurant_name }} </li>
    {% else %}
      <li><button type="button" id="{{ trip.trip_id }}" class="favorite_star favorited" data-trip-id="{{ trip.trip_id }}">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite
      </button> {{ trip.museum.name }}, {{ trip.restaurant_name }} </li>
    {% endif %}  
  {% endfor %}
</ul><br><br>

Get directions for a trip
<form action='/map/from_profile_page' method="POST">
	Trip:
	  	<select name="trip_id">
	  		{% for trip in trips %}
      			<option value="{{ trip.trip_id }}">{{ trip.museum.name }}, {{ trip.restaurant_name }}</option>
      	{% endfor %}
    	</select><br>
    Your location:
    	<input type="text" name="user_location"><br>
    <input type="submit" value="Go to directions">
</form>

<a href='/images'>Start planning a trip</a>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/
     3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/favorites.js"></script>

{% endblock %}