{% extends 'base.html' %}

{% block title %}User profile{% endblock %}
{% block heading %}Your profile{% endblock %}
    

{% block content %}

Profile

<h2>Your Information</h2><br>
Name: {{ user.name }}<br>
Email: {{ user.email }}<br>

<h2>Trips</h2>
<ul>
 	{% for trip in trips %}
    {% if trip.favorited == False %}
      <li><span class="favorite_star" data-trip-id="{{ trip.trip_id }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span> {{ trip.museum.name }}, {{ trip.restaurant_name }} </li>
    {% else %}
      <li><span class="favorite_star favorited" data-trip-id="{{ trip.trip_id }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span> {{ trip.museum.name }}, {{ trip.restaurant_name }} </li>
    {% endif %}  
  {% endfor %}
</ul><br><br>

Get directions for a trip
<form action='/map/from_profile_page' method="POST">
	Trip:
	  	<select name="trip_id">
	  		{% for trip in trips %}
      			<option value="{{ trip.trip_id }}">{{ trip.museum.name }}, {{ trip.restaurant_name }}</option>
      	{% endfor %}
    	</select><br>
    Your location:
    	<input type="text" name="user_location"><br>
    <input type="submit" value="Go to directions">
</form>

<a href='/images'>Start planning a trip</a>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/
     3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/favorites.js"></script>

{% endblock %}