{% extends 'base.html' %}

{% block title %}Selection of art{% endblock %}
{% block heading %}Selection of art{% endblock %}

{% block content %}

Profile

<h2>Your Information</h2><br>
Name: {{ user.name }}<br>
Email: {{ user.email }}<br>

<h2>Trips</h2>
<ul>
 	{% for trip in trips %}
      <li> <a href='/map/{{ trip.trip_id }}'>{{ trip.museum.name }}, {{ trip.restaurant_name }}</a> </li>
    {% endfor %}
</ul>>

<a href='/images'>Start planning a trip</a>


{% endblock %}